<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Testing handlebars
        
    </h1>
    <img src="./footer-image.png" alt="Footer Image" style="display: block; margin-top: 1rem;">

</body>
</html>